* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    background-color: #6D7B8D;
    color: #eee;
    line-height: 1.6;
}
.main-nav {
    width: 100%;
    background: #ffffffd5; 
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 12px 0;
    backdrop-filter: blur(4px); 
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.main-nav a {
    color: #4a3b28;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
}

.main-nav a:hover {
    color: #c9a875; 
    transform: translateY(-2px);
}

footer {
    background: #2b2b2b;
    color: #fff;
    padding: 40px 0 20px;
    margin-top: 40px;
    font-size: 16px;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    text-align: center;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #d6c19a;
}

.footer-section p {
    margin: 5px 0;
    opacity: 0.9;
}

footer a {
    color: #d6c19a;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

opyright {
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.7;
}

/*الثيم */
body.light {
    background-color: #f5f5f5;
    color: #111;
}

body.light .feature-box,
body.light .history {
    background-color: #ffffff;
    color: #111;
}


.hero {
    height: 80vh;
    background: url("../images/zz.jpeg") center/cover no-repeat;
    position: relative;
}

.overlay {
    background: rgba(0,0,0,0.55);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.overlay h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.overlay button {
    padding: 10px 20px;
    border: none;
    background-color: #c89b3c;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

.overlay button:hover {
    background-color: #e0b45c;
}


.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 60px 10%;
}

.feature-box {
    background-color: #D2B48C;
    padding: 25px;
    border-radius: 8px;
}

.feature-box h2 {
    margin-bottom: 10px;
    color: #c89b3c;
}

/* HISTORY */
.history {
    opacity: 1;
    max-height: 500px;
    transition: 0.5s;
}

.history h2 {
    color: #c89b3c;
    margin-bottom: 15px;
}


.hidden {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}

/* الحركه السرية */
@media (max-width: 768px) {
    .overlay h1 {
        font-size: 2.2rem;
    }
}

body.light {
    background-color: #f5f5f5;
    color: #111;
}

body.light .main-nav,
body.light footer,
body.light .card,
body.light section {
    background-color: #ffffff;
    color: #111;
}

body.light a {
    color: #111;
}

.highlight-card {
  max-width: 900px;
  margin: 80px auto;
  padding: 50px 60px;
  text-align: center;

  background-color: #D2B48C;   
  border-radius: 18px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.04);
}


.highlight-card h2 {
  font-size: 36px;
  margin-bottom: 25px;
  color: #111;
}

.highlight-card p {
  font-size: 18px;
  line-height: 1.9;
  color: #444;
  margin-bottom: 20px;
}


.experience-section {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  gap: 40px;
  align-items: center;
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 20px;
   background-color: #D2B48C;  
  border-radius: 18px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.04);
}

.experience-card h3 {
  font-size: 21px;
  margin-bottom: 15px;
  line-height: 1.4;
}

.experience-card p {
  font-size: 15.5px;
  line-height: 1.8;
}


.experience-image img {
  width: 100%;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.06);
}

